draw1.py
ergebnis.png
sol.sol
netlistHandler2.py
testMatplot.py
solver Backup 0906.py
test - Kopie.py
test.py
testImagesAsNodes.py
__pycache__/
venv/
.gitignore
your_file.txt
docs/
src/dist
src/build
Anwenderdoku/
